<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HACCP">

        <activity android:name=".ui.AccueilActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.ReceptionActivity" />
        <activity android:name=".ui.MenuTachesActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".ui.HistoriqueActivity"/>
        <activity android:name=".ui.DetailProduitActivity" />
        <activity android:name=".ui.AdminActivity" />
        <activity android:name=".ui.GestionUtilisateursActivity" />
        <activity android:name=".ui.AjouterUtilisateurActivity" />
        <activity android:name=".ui.SupprimerUtilisateurActivity" />
        <activity android:name=".ui.ModifierUtilisateurActivity" />
        <activity android:name=".ui.GestionProduitsActivity" />
        <activity android:name=".ui.AjouterCategorieActivity" />
        <activity android:name=".ui.SupprimerCategorieActivity" />
        <activity android:name=".ui.ModifierCategorieActivity" />
        <activity android:name=".ui.DeplacerProduitsCategorieActivity" />
        <activity android:name=".ui.GestionProduitsReferenceActivity" />
        <activity android:name=".ui.OuvrirProduitActivity" />
        <activity android:name=".ui.GestionTachesActivity" />
        <activity android:name=".ui.CreationTacheActivity" />
        <activity android:name=".ui.SupprimerTacheActivity" />
        <activity android:name=".ui.ModifierTacheActivity" />
        <activity android:name=".ui.ModifierTacheFormActivity" />





        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>